<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Yacht Speed Predictor</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Yacht Speed Predictor</h1>
        <div class="buttons">
            <a href="predict_input.html" class="button">Predict with Input</a>
            <a href="predict_excel.html" class="button">Predict with Excel File</a>
            <a href="https://github.com/Hinski2/yachtSpeedPrediction/blob/main/README.md" class="button">DOCS</a>
        </div>
    </div>
</body>
</html>
